* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

/* UTILITIES */

.container {
	margin: 0 auto;
	max-width: 1070px;
}

/* HEADER */

header {
	background-color: black;
	padding: 20px;
}

header .container .logo {
	width: 50px;
}

header .container .logo img {
	max-width: 100%;
}

/* CONTENT */

main {
	background-color: rgba(24, 217, 96, 0.4);
	height: 100vh;
	text-align: center;
}

main .select-container {
	padding-top: 50px;
}

main .select-container label {
	margin-right: 20px;
}

main.content .container {
	display: flex;
	padding: 2em;
	flex-wrap: wrap;
}

main.content .container .box {
	padding: 20px;
	text-align: center;
	background: rgba(10, 104, 45, 0.5);
	width: calc((100% / 3) - 20px);
	margin: 10px 10px;
	border-radius: 5px;
}

main.content .container .box ul {
	list-style: none;
}

main.content .container .box ul li:not(:last-child) {
	margin-bottom: 10px;
}

main.content .container .box ul li.img-container {
	width: 150px;
	margin: 0 auto;
	margin-bottom: 20px;
}

main.content .container .box ul .img-container img {
	max-width: 100%;
}
