* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* UTILITIES */

.container {
	margin: 0 auto;
	max-width: 1070px;
}

/* HEADER */

header {
	background-color: black;
	padding: 20px;
}

header .container .logo {
	width: 50px;
}

header .container .logo img {
	max-width: 100%;
}

/* CONTENT */

main {
	background-color: rgba(24, 217, 96, 0.6);
}

main.content .container {
	display: flex;
	padding: 2em;
	width: calc(100% - 400px);
}

main.content .container .box {
	background: black;
	width: calc(100% - 400px);
	margin: 0px 10px;
}

main.content .container .box ul .img-container {
	width: 100px;
}

main.content .container .box ul .img-container img {
	max-width: 100%;
}
